<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-fixed-top" style="background-color: #c096e0;height:65px;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">TakWare LLC</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [ngClass] = "_router.isActive('birds') ? 'active nav-link' : 'inactive nav-link'" routerLink='birds'>Birds Spotted</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
<footer id="footer">
<hr>

<address>
   <span><a href="mailto:info@taksnapdrgn.com">contact us</a></span>
   <span id="profile"><a href="http://www.linkedin.com/in/lynn-kirste-3625a137" target="_blank">LinkedIn Profile</a></span>
</address>

<div id="siteicon">Site Icon made by <a href="http://www.freepik.com/" target="_blank">Freepik</a> from <a href="https://www.flaticon.com/"  target="_blank">www.flaticon.com</a></div>



TakWare LLC<sup>&copy;</sup>
</footer>

