agm-map {
  height: 600px;
}
#main {
	position:relative;
	top:30px;
}

.jumbotron {
           color:black;
           text-align: center;
           background-image: url(../assets/images/sunset_calvo.jpg);
					 min-height: 600px;
					 background-position: center center;
					 background-size: 100% 100%; 
			 }

	#credit {
			color:black;
			position:relative;
			top:-20px;
			left:10px;
			text-align: left;
	}

	#disclaimer {
		position:relative;
		top:50px;
	}

a {
		text-decoration: none;
		color: inherit; 
}
