
  <div class="jumbotron">
        <h1 class="display-3">Birds Spotted</h1>
        <br>
        <br>
        <p class="lead">The Bird Spotting map below allows you to double click on the map and any birds spotted in the area will be marked
          with the common name of the bird, the number spotted and the location. The information is provided through the 
          Cornell Lab of Ornithology eBird API. For additional information on how you can help add to the database of birds spotted in your area you can go to <span>
            <a href="http://ebird.org/content/ebird/" target="_blank">eBird</a></span>
        </p>
        <hr class="my-4">
        <p>If you want additional information on the birds spotted, suggested sites include 
           <a href="https://www.allaboutbirds.org/" target="_blank" >All About Birds</a> and <a href="http://www.audubon.org/birds/" 
           target="_blank" >Audubon</a>.</p>
           
        <p id="disclaimer"><strong>Please note that TakWare LLC is not associated with the Cornell Lab of Ornithology or Audubon.</strong></p>
    </div>
<em id="credit"><a href="https://www.pexels.com/u/annaelk/" target="_blank">Photo by Adrianna Calvo on Pexels</a></em>   

<div class="container">
  <div id="main">
     <agm-map [latitude]="location.latitude" [longitude]="location.longitude" (mapDblClick)="placeMarker($event)">
      <div  *ngFor="let bird of birdsObserver; let i = index" >
        <div *ngIf="serverFlag">
          <agm-marker [title]="bird.name" [latitude]="bird.latitude" [longitude]="bird.longitude">
            <agm-info-window>
            <strong>{{bird.name}}</strong>
            <hr>
            <p *ngIf="bird.numberSpotted == 1">{{bird.numberSpotted}} bird spotted at {{bird.location}} </p>
            <p *ngIf="bird.numberSpotted >1 ">{{bird.numberSpotted}} birds spotted at {{bird.location}} </p>
            </agm-info-window> 
          </agm-marker>
        </div>
        <div *ngIf="!serverFlag">
          <agm-marker [title]="bird.comName" [latitude]="bird.lat" [longitude]="bird.lng">
            <agm-info-window>
            <strong>{{bird.comName}}</strong>
            <hr>
            <p *ngIf="bird.howMany == 1">{{bird.howMany}} bird spotted at {{bird.locName}} </p>
            <p *ngIf="bird.howMany >1 ">{{bird.howMany}} birds spotted at {{bird.locName}} </p>
            </agm-info-window> 
          </agm-marker>
        </div>
      </div>
    </agm-map>
  </div>
</div>
