<div class="container" >
    <div id="intro">
        <p>TakWare LLC was founded by Lynn Kirste in 2008 in order to provide updates to the Fox Television LA Mapper Utility associated with their data warehouse. 
        These updates included changes to the ASP.Net front end as well as various changes to the associated stored procedures and tables. Since then the founder has 
        continued to work in the IT industry.</p>

        <p>Lynn is from Orlando, Florida and graduated from the University of Central Florida with a B.S.B.A. In Management Information Systems with a minor in Computer Science in 1982. 
        Her first position was with General Electric in Illinois as a Simulator Engineer where she converted Honeywell assembly programs to Fortran 77 programs.</p>
        <p>After leaving General Electric she went to work for Commonwealth Edison where she continued to provide simulator support until she decided to pick up stakes and move to Colorado. 
        In Colorado she worked for various companies including ACS-GSG, Harris Corporation, SourceCorp, TVG Network and Leapfrog Systems.</p>
        <p>Projects presently in development include:</p>
        <ul class="a">
        <li>Bird Tracker App</li>
        <li>WebSite for RPG Gamer Meetups</li>
        </ul>
    </div>
</div>